body {

    background: url('../images/starTrekBackground.jpg');
/*    background-repeat: repeat;*/
    font-family: 'Press Start 2P', cursive;
}



/* images */

.characters {
    width: 200px;
    height: 200px;
}